firefox:https://download.mozilla.org/?product=firefox-latest-ssl&os=osx&lang=en-US
discord:https://discord.com/api/download?platform=osx
vscode:https://code.visualstudio.com/sha/download?build=stable&os=darwin-universal
mongodb-compass:https://downloads.mongodb.com/compass/mongodb-compass-1.28.4-darwin-x64.dmg
